body {
  margin: 0;
  font-family: 'Roboto';
  color: white;
}

h1 {
    color: white;
    font: 'Roboto';
}

.header {
  padding: 10px 16px;
  background: rgb(67, 74, 84);
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

#Header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    font-size: 40px;
    padding-left: 10px;
}

#Header li {
    font-size: 40px;
    font-family: 'Roboto';
    color:white
    padding-top: 20px;
    padding-left: 150px;
}
#Header li:first-child {
    padding-left: 0px;
}

#Header a,a:hover {
    text-decoration: none;
}

#Header a {
    color: white;
}

.plaatje {
    overflow:hidden;
}

.size {
    width: 10%;
    max-width: 400px;
    height: auto;
}

.popular li {
    float: left;
}