body {
  margin: 0;
  font-family: 'Roboto';
  color: white;
}

h1 {
    color: white;
    font: 'Roboto';
}

.header {
  padding: 10px 16px;
  background: rgb(67, 74, 84);
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

#Header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    font-size: 40px;
    padding-left: 10px;
}

#Header li {
    font-size: 40px;
    font-family: 'Roboto';
    color:white
    padding-top: 20px;
    padding-left: 150px;
}
#Header li:first-child {
    padding-left: 0px;
}

#Header a,a:hover {
    text-decoration: none;
}

#Header a {
    color: white;
}

.plaatje {
    overflow:hidden;
}

.popular {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    overflow: hidden;
}

.popular li{
    padding-left: 5%;
}

.popular li:first-child{
    padding-left: 1%;
}

.Roster {
  padding: 10px 16px;
  background: rgb(67, 74, 84);
  color: #f1f1f1;
}

#Roster ul {
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
}

#lijn {
  margin: 0;
  padding: 0;
  position: absolute;
  border-radius: 50px;
  width: 0px;
  height: 2000px;
  border: 3px solid white;
  float:right;
} 

a:link {
    text-decoration: none;
}

.Attackers {
    margin-top: 10%;
    margin-left: 10%;
    vertical-align: middle;
    line-height: 50%;
    float: left;
    text-align: center;
    font-size: 45px;
    width: 30%;
    height: 15%;
    border: 10px solid rgb(47, 54, 64);
    border-radius: 20px;
}

.Defenders {
    margin-top: 10%;
    margin-right: 10%;
    vertical-align: middle;
    line-height: 50%;
    float: right;
    text-align: center;
    font-size: 45px;
    width: 30%;
    height: 15%;
    border: 10px solid rgb(47, 54, 64);
    border-radius: 20px;
}

.Choose {
    font-size: 35px;
    text-align: center;
    margin-top: 5%;
}